@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-whitetext: #FFFFFF;
  --color-darktext: #212529;
  --color-purpletext: #8338EC;
  --color-purplebg: #DDD2FF;
  --color-yellowbg: #F7BC30;
  --color-yellowtext: #FFBE0B;
  --color-orangebg: #FB5607;
  --color-orangetext: #FD9A6A;
  --color-pinkbg: #FF006E;
  --color-pinktext: #FF66A8;
  --color-redtext: #FA4D4D;
  --color-bluebg: #3A86FF;
  --color-bluetext: #89B6FF;
  --font-firago: "FiraGo", "sans-serif";
  --font-fredoka: "FredokaOne", "sans-serif"
}

@font-face {
  font-family: 'FiraGO';
  src: url('/fonts/FiraGO-Regular.woff2') format('woff2'),
    url('/fonts/FiraGO-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FredokaOne';
  src: url('/fonts/Fredoka-One.woff2') format('woff2'),
    url('/fonts/Fredoka-One.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #ffffff;
}