@import "tailwindcss";
@tailwind utilities;

@theme {
  --color-whitetext: #FFFFFF;
  --color-grayshone: #f8f9fa;
  --color-grayshtwo: #dfe2e6;
  --color-grayshthree: #cfd4d9;
  --color-grayshfour: #aeb5bc;
  --color-graysh: #aeb5bc;
  --color-validations: #6e757c;
  --color-subheadlines: #353a3f;
  --color-headlines: #212529;
  --color-blackish: #0D0F10;
  --color-bordercolor: #DEE2E6;
  --color-purpletext: #8338EC;
  --color-purplebg: #DDD2FF;
  --color-purplehover: #A78AE6;
  --color-yellowbg: #FFD86D;
  --color-yellowtext: #FFBE0B;
  --color-orangebg: #FB5607;
  --color-orangetext: #FD9A6A;
  --color-pinkbg: #FF006E;
  --color-pinktext: #FF66A8;
  --color-redtext: #FA4D4D;
  --color-bluebg: #3A86FF;
  --color-bluetext: #89B6FF;
  --color-greentext: #08A508;
  --font-firago: "FiraGo", "sans-serif";
  --font-fredoka: "FredokaOne", "sans-serif"
}

@font-face {
  font-family: 'FiraGO';
  src: url('/fonts/FiraGO-Light.woff2') format('woff2'),
    url('/fonts/FiraGO-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraGO';
  src: url('/fonts/FiraGO-Regular.woff2') format('woff2'),
    url('/fonts/FiraGO-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FredokaOne';
  src: url('/fonts/Fredoka-One.woff2') format('woff2'),
    url('/fonts/Fredoka-One.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #ffffff;
}